<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %> blog-post" itemscope itemtype="http://schema.org/Article">
					<header class="article-header"><%- partial('post/title', {class_name: 'article-title'}) %></header>
				<div class="article-meta blog-post-meta">
					<%- partial('post/date', {class_name: 'article-date', date_format: config.date_format, time_format: config.time_format}) %><% if (post.author){ %>
					<div class="article-author"><span itemprop="author" itemscope itemtype="http://schema.org/Person">
						<span itemprop="name" content="<%= config.author %>"></span></span>
							<span itemtype="https://schema.org/Organization" itemscope="itemscope" itemprop="publisher">
								<span itemprop="name"><%= post.author %></span>
								<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
									<meta itemprop="url" content="<%= theme.og_image_url %>">
								</span>
							</span>
						</span>
					</div>
		<% } %><% if (post.categories && post.categories.length){ %><%- partial('post/category') %>		
				</div><% } else { %>		</div><% } %>
				<div class="article-inner">
					<div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
						<meta itemprop="url" content="<%= theme.og_image_url %>">
					</div>
					<div class="article-entry" itemprop="articleBody">
<% if (post.excerpt && index){ %><%- post.excerpt %>
<% if (theme.excerpt_link){ %>						<p class="article-more-link">
							<a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
						</p><% } %><% } else { %><%- post.content %><% } %>					</div>
					<footer class="article-footer">
						<a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link">
							<i class="fa fa-share"></i> Share
						</a><% if (post.comments && config.disqus_shortname){ %>
    <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">
      <i class="fa fa-comment"></i> Comments
    </a><% } %><%- partial('post/tag') %>
    				</footer>
				</div><% if (!index){ %>
<%- partial('post/nav') %><% } %>
				</article><% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section><% } %>